/* ブレイクポイントの設定 */
@media screen and (max-width: 1400px) {
    /* 1400px以下の表示設定 */
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }
}

/* 1200px以下の表示設定 */
@media screen and (max-width: 1200px) {
    /* desktop navの非表示とhamburger menuの表示 */
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    /* Experienceセクションとその中の間隔を調整 */
    #experience,
    .experience-details-container {
        margin: 2rem;
    }
    /* 狭い画面幅に合わせるためProfile要素を縦並びに */
    #profile,
    .section-container {
        display: block;
    }
    /* 矢印アイコンは邪魔になるため非表示 */
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    /* コンテンツが画面端に触れないようセクションの左右に余白を作成 */
    section {
        margin: 0 5%;
    }
    /* 画像サイズと配置の調整 */
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}

/* 600px以下の表示設定 */
@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
}